*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.toolbox-container{
    height: 5rem;
    background-color: #cfbaf0;
    display: flex;
    align-items: center;
    
}

.toolbox-container>*{
    margin-left: 2rem;
    border-radius: 4px;

}
.toolbox-priority-container{
    height: 3rem;
    width: 18rem;
    background-color: #edf2fb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.action-btn-container{
    height: 3rem;
    width: 7rem;
    background-color: #edf2fb;
    display: flex;
   
    
}
.action-btn-container>*{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 50%;
    font-size: 2rem;
    color: #1c1d21;

}
.color{
    height: 1.5rem;
    width: 3rem;
}
.lightpink{
    background-color: lightpink;
   
}
.lightblue{
    background-color: lightblue;
    
    
}
.lightgreen{
    background-color: lightgreen;
    
}
.black{
    background-color: black;
    
}
.modal-container{
    height: 50vh;
    width: 45vw;
    background-color:#cfbaf0 ;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    display: none;

}

.textarea-container{
    height: 100%;
    width: 75%;
    outline: none;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
}
.priority-colors-container{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}
.priority-color{
    
    height: 3rem;
    width: 5rem;
}
.active{
    border: 0.1rem solid #edf2fb;
}
.main-container{
     display: flex; 
    justify-content: center;
    padding: 2rem;
    gap: 2rem; 
    flex-wrap: wrap;
    position: relative;

}
.ticket-container{
    height: 10rem;
    width: 14rem;
    background-color:#edf2fb;
}
.ticket-id{
height: 2rem;
background-color:#edf2fb; 
}
.ticket-color{
height: 2rem;

}
.ticket-task{
 height: calc(100% - 3rem);
 font-size: 1rem;
 padding: 5px;
 outline: none;
 overflow: hidden;
 white-space: nowrap;
}
.ticket-lock{
display: flex;
justify-content: flex-end;
margin-top: -35px;
margin-right: 5px;
font-size: 1rem;
}
@media screen and (max-width:400px) {
    ::placeholder{
        font-size: 1.5rem;
    }
    
}